asgiref==3.11.1
certifi==2026.2.25
charset-normalizer==3.4.7
colorama==0.4.6
defusedxml==0.7.1
Django==5.2.13
django-cors-headers==4.9.0
dj-database-url==2.2.0
djangorestframework==3.17.1
gunicorn==23.0.0
httpie==3.2.4
idna==3.11
markdown-it-py==4.0.0
mdurl==0.1.2
multidict==6.7.1
Pygments==2.20.0
PySocks==1.7.1
requests==2.33.1
requests-toolbelt==1.0.0
rich==15.0.0
psycopg[binary]==3.2.11
sqlparse==0.5.5
tzdata==2026.1
urllib3==2.6.3
whitenoise==6.9.0